@import 'tailwindcss';

@theme {
  --color-error: #ff4d4f;
  --color-error-dark: #d9363e;
  --color-primary: #2457fa;
  --color-primary-dark: #1d47cf;
}

@layer base {
  form {
    @apply flex w-full flex-col gap-5;
  }

  input {
    @apply focus:outline-primary aria-invalid:outline-error m-0 flex h-10 w-full appearance-none items-center rounded-sm border border-gray-500 pl-4 text-base shadow-none outline-offset-2 focus:outline-2 focus:outline-solid aria-invalid:outline-solid;
  }

  textarea {
    @apply focus:outline-primary aria-invalid:outline-error m-0 flex h-20 w-full appearance-none items-center rounded-sm border border-gray-500 pt-2 pl-4 text-base shadow-none outline-offset-2 focus:outline-2 focus:outline-solid aria-invalid:outline-solid;
  }

  a {
    @apply text-primary hover:underline;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
}
